@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: o;
    padding: 0;
}
#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80% !important;
    height: 60%;
    display: flex;
}
#texts {
    width: 50%;

}

#picture {
    width:50%;
    height: 100%;
}
#image {
    height: inherit;
}