@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: o;
    padding: 0;
}
#wrapper {

}

.container {
    display: flex;
}